# Flask Configuration
FLASK_ENV=production
FLASK_DEBUG=False
FLASK_PORT=8080

# Redis Configuration (Optional)
# REDIS_URL=redis://user:pass@host:port
# REDIS_HOST=localhost
# REDIS_PORT=6379

# Vercel
PYTHONUNBUFFERED=1
